
//////////////////////////////////////////////////////////////////////////////////////////
///     fonts     fonts     fonts     fonts     fonts     fonts     fonts     fonts    ///
//////////////////////////////////////////////////////////////////////////////////////////

@font-face{
	font-family: Connoisseurs;
	src: url('../../fonts/Connoisseurs.otf');
	src: url('../../fonts/Connoisseurs.ttf');
}
@font-face{
	font-family:Divine Razier;
	src: url('../../fonts/Divine%20Razier.otf');
}
@font-face{
	font-family: Fairytales Script Swashes;
	src: url('../../fonts/Fairytales%20Script%20Swashes.otf');
	src: url('../../fonts/Fairytales%20Script%20Swashes.ttf');
}
@font-face{
	font-family: Fairytales Script;
	src: url('../../fonts/Fairytales%20Script.otf');
	src: url('../../fonts/Fairytales%20Script.ttf');
} 
@font-face{
	font-family: Higher;
	src: url('../../fonts/Higher.otf');
	src: url('../../fonts/Higher.ttf');
}

@import "http://webfonts.ru/import/ashley.css";
@import "http://webfonts.ru/import/forum.css";





///////////////////////////////////////////////////////////////////////////////////////////
////    mixins    mixins    mixins    mixins    mixins    mixins    mixins    mixins    ///
///////////////////////////////////////////////////////////////////////////////////////////

@mixin br($size: 1px, $type: solid, $color: black){
	border: $size $type $color;
}

@mixin background-image($path){
	background-image: url("../..#{$path}");
	background-size: cover;
	background-repeat: no-repeat;
}

@mixin font($ff: Verdana, $size: 9px, $style: normal, $weight: bold, $direction: start){
	font-family: $ff;
	font-size: $size;
	font-style: $style;
	font-weight: $weight;
	text-align: $direction;
	
}


///////////////////////////////////////////////////////////////////////////////////////////
////    animation    animation    animation    animation    animation    animation      ///
///////////////////////////////////////////////////////////////////////////////////////////











































