
@import "tools";
@import "tab.scss";


body{
	@include background-image("/image/main_bg.jpg");
	background-attachment: fixed;

	
}

.mainPage{
	@include br();
	border-radius: 3px;
	background-color: #FFE7C8;
	color: #1A0000;
	min-width: 900px;
	width: 90%;
	margin: auto;
	padding: 20px;
}

.mainPage h1{
	@include font(Dancing Script, 26px, normal, bold, center);
	font-size: 40px;
}

.winFrame{
	@include br();
	background-color: black;
	color: white;
	min-height: 20px;
	min-widht: 20px;
	width: 80%;
	margin: auto;
	margin-bottom: 30px;
	& .winText{
		@include font(Dancing Script, 26px, normal, bold, center);
		
	}
}

.winContent{
	@include br();
	background-color: #fff;
	color: black;
	margin: 2px;
	@include font(Alegreya Sans, 16px);
	overflow: hidden;
	min-height: 40px;
	height: auto;
}

.line{
	border: 3px outset #8F8F8F;
	border-radius: 48px;
	width: 90%;
	height: 1px;
	background-color: black;	
	margin-bottom: 20px;
}












