
@import "tools";
@import "http://webfonts.ru/import/bicubik.css";
/*
	Bicubik, 400
*/


////////////////////////////////////////////////////////////////////////////////////////////
///   first-tab   first-tab   first-tab   first-tab   first-tab   first-tab   first-tab  /// 
////////////////////////////////////////////////////////////////////////////////////////////

$mainMargin: 10px;

.tabTop{
	margin: $mainMargin;
	height: auto;
	font-family: Bicubik;
}

$fColor: #10E000;
$bColor: #141C14;

.tabLinks{
	position: relative;
	top: 4px;
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-flow: row wrap;
	& li{
		width: 76px;
		height: 40px;
		margin-left: 6px;
		border: 4px solid black;
		background-color: $bColor;
		border-radius: 6px 6px 0px 0px;
		display: flex;
		&:hover{
			background-color: $fColor;
			& a{
				color: $bColor;
			}
		}
		& a{
			@include br();
			text-decoration: none;
			color: $fColor;
			flex-grow: 1;
			text-align: center;
			line-height: 40px;
		}
	}
}

.tabLinks a{
	transition: all 400ms ease-in-out;
}

.tabContent{
	@include br();
	background-color: black;
	padding: 2px;
	border-radius: 3px;
	& .tab{
		@include br();
		background-color: $bColor;
		color: $fColor;
	}
}

li.active{
	background-color: $fColor;
	& a{
		color: $bColor;
	}
}

.tab{
	height: 300px;
	overflow: hidden;
	display: none;
	& p:first-child{
		text-align: center;
	}
}

.blockTip{
	color:red;
	@include font(Bicubik, 12px, normal, bold, right);
	margin-right: 12px;
}

////////////////////////////////////////////////////////////////////////////////////////////
///  tab-sticer  tab-sticer  tab-sticer  tab-sticer  tab-sticer  tab-sticer  tab-sticer  /// 
////////////////////////////////////////////////////////////////////////////////////////////

@import "http://webfonts.ru/import/beermoney.css";

$widthMark: 80px;
$heightMark: 150px;
$markShadow: 30px;
$markDeep: 30px;

.tabStiker{
	padding: 1px;
	margin: $mainMargin;
}

.tabConteiner{
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
	overflow: hidden;
	position: relative;
}

#tab_head.tabConteiner{
	height: 140px;
	
}

.bookMark{
	width: $widthMark;
	height: $heightMark;
	position: absolute;
	cursor: pointer;
	top: $markDeep;
	transition: all 260ms ease-out;
	box-shadow: inset 0px 0px $markShadow #BDBDBD;
	background-image: url("../../image/texture_paper_2.jpg");
	@include br();
}

.bookMarkLogo{
	width: 100%;
	height: 70px;
	text-align: center;
	line-height: 70px;
	font-family: Beer money;
	font-size: 34px;
	color: white;
	z-index: 0;
}

$markIndex: 2;
$markUp: 6px;

#tab_head.tabConteiner{
	& div:nth-child(1){
		left: 5px;	
		transform: rotate(0deg);
		z-index: 1;
		& div{
			background-color: #A86EA7;
			box-shadow: inset 0px 0px $markShadow #582C69;
		}
		&:hover{
			transform: rotate(0deg);
			z-index: $markIndex;
			top: $markUp;
		}
	}
	& div:nth-child(2){
		left: 60px;	
		transform: rotate(-6deg);
		& div{
			background-color: #A8736E;
			box-shadow: inset 0px 0px $markShadow #803E3E;
		}	
		&:hover{
			transform: rotate(0deg);
			z-index: $markIndex;
			top: $markUp;
		}
	}
	& div:nth-child(3){
		left: 120px;	
		transform: rotate(2deg);
		z-index: 1;
		& div{
			background-color: #7B82C4;
			box-shadow: inset 0px 0px $markShadow #25284A;
		}		
		&:hover{
			transform: rotate(0deg);
			z-index: $markIndex;
			top: $markUp;
		}
	}
	& div:nth-child(4){
		left: 180px;	
		transform: rotate(-12deg);
		& div{
			background-color: #7BC4A9;
			box-shadow: inset 0px 0px $markShadow #016B29;
		}	
		&:hover{
			transform: rotate(0deg);
			z-index: $markIndex;
			top: $markUp;
		}
	}
	& div:nth-child(5){
		left: 240px;	
		transform: rotate(9deg);
		& div{
			background-color: #F6FF00;
			box-shadow: inset 0px 0px $markShadow #6B6701;
		}	
		&:hover{
			transform: rotate(0deg);
			z-index: $markIndex;
			top: $markUp;
		}
	}
	& div:nth-child(6){
		left: 300px;	
		transform: rotate(2deg);
		& div{
			background-color: #00FF0C;
			box-shadow: inset 0px 0px $markShadow #016B01;
		}	
		&:hover{
			transform: rotate(0deg);
			z-index: $markIndex;
			top: $markUp;
		}
	}
	& div:nth-child(7){
		left: 380px;	
		transform: rotate(-7deg);
		z-index: 1;
		& div{
			background-color: #00FFF6;
			box-shadow: inset 0px 0px $markShadow #016B6A;
		}	
		&:hover{
			transform: rotate(0deg);
			z-index: $markIndex;
			top: $markUp;
		}
	}
	& div:nth-child(8){
		left: 440px;	
		transform: rotate(1deg);
		& div{
			background-color: #4800FF;
			box-shadow: inset 0px 0px $markShadow #08016B;
		}
		&:hover{
			transform: rotate(0deg);
			z-index: $markIndex;
			top: $markUp;
		}
	}
	& div:nth-child(9){
		left: 520px;	
		transform: rotate(-8deg);
		z-index: 1;
		& div{
			background-color: #FF00E4;
			box-shadow: inset 0px 0px $markShadow #6B0162;
		}
		&:hover{
			transform: rotate(0deg);
			z-index: $markIndex;
			top: $markUp;
		}
	}
	& div:nth-child(10){
		left: 590px;
		transform: rotate(4deg);
		& div{
			background-color: #FF0000;
			box-shadow: inset 0px 0px $markShadow #6B0101;
		}	
		&:hover{
			transform: rotate(0deg);
			z-index: $markIndex;
			top: $markUp;
		}	
	}
}

#tab_body.tabConteiner{
	display: flex;
	flex-flow: row;
	align-items: flex-start;
	position: relative;
	width: auto;
	height: 300px;
	@include background-image("/image/texture_not_bg_1.jpg");
	padding: 10px;
}

.page{
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: none;
	height: 0px;
}

.textPage{
	height: 100%;
	width: 100%;
	resize: none;
	@include background-image("/image/texture_paper_1.jpg");
	font-family: AshleyCapitaliSofia;
	
}

///////////////////////////////////////////////////////////////////////////////////////////////////
///  tab-dark  tab-dark  tab-dark  tab-dark  tab-dark  tab-dark  tab-dark  tab-dark  tab-dark   /// 
///////////////////////////////////////////////////////////////////////////////////////////////////

.activeMark{
	background-color: #B3E5FC;
	flex-grow: 3;
	  & p{
	  	color: black;
	  }	
}


.dark{
	@include br();
	border-radius: 2px;
	margin: $mainMargin;
}

.darkConteiner{
	position: relative;
	display: flex;
	flex-flow: row;
	background-color: #B3E5FC;
}

.tabMarkFrame{
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-flow: row;
	width: 100%;
	height: 60px;
	background-color: black;
	& li:first-child{
		border-left: 0;
	}
	
}

.darkMark{
	cursor: pointer;
	flex-grow: 1;
	text-align: center;
	display: flex;
	transition: all 300ms ease-in-out;
	border-left: 1px solid #B3E5FC;
	& p{
		margin: auto;
		font-family: Forum;
		font-size: 26px;
		color: #B3E5FC;
	}
	&:hover{
		@extend .activeMark;
	}
}

#darkBody.darkConteiner{
	padding:4px;
	min-height: 400px;
}

.darkContent{
	border: 1px solid #B3E5FC;
	min-width: 8px;
	width: 5px;
	transition: all 300ms ease-in-out;
	overflow: hidden;
	background-color: black;
	color: #B3E5FC;

}

.videoFrame{
	height: 600px;
	width: 99%;
	margin: 2px;
	
}

//////////////////////////////////////////////////////////////////////////////////////////////////////////////
////    storageBox    storageBox    storageBox    storageBox    storageBox    storageBox    storageBox    ////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////

$borderTotal: 4px;

.storageBox{
	margin: $mainMargin;
}

.boxHead{
	position: relative;
	top: 4px;
	z-index: 1;
}

.boxMarksConteiner{
	display: flex;
	flex-direction: row;
	margin: 0px;
	padding: 0px;
	list-style: none;
	& li:first-child{
		border-left: $borderTotal solid blue;
	}
	& li:last-child{
		border-right: $borderTotal solid blue;
	}
}

.boxMark{
	cursor: pointer;
	transition: all 300ms ease-in-out;
	width: 60px;
	height: 40px;
	display: flex;
	border: $borderTotal solid blue;
	border-bottom: 0;
	border-left: $borderTotal dotted blue;
	border-right: $borderTotal dotted blue;
	background-color: blue;
	& p{
		color: white;
		margin: auto;
	}
}

.boxMarkActive{
	cursor: pointer;
	width: 60px;
	height: 40px;
	display: flex;
	background-color: white;
	& p{
		color: blue;
		margin: auto;
		pointer-events: none;    //// nice mmmm... )))
	}
}

.boxMark:hover{
	@extend .boxMarkActive;
}

.boxBody{
	border: $borderTotal solid blue;
	& div{
		padding: 4px;
	}
}

.boxBody,
.boxContent{
	position: relative;
	overflow: hidden;
	width: auto;
	min-height: 200px;
}

.boxContent{
	display: flex;
	display: none;

}

.boxContentActive{
	display: flex;
	display: block;

}

/////++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++/////

.fioFrame{
	display: flex;
	flex-direction: row;
	&>div{
		min-width: 50px;
		overflow: hidden;
		display: flex;
		flex-direction: column;

	}
}

.fioRow{
	flex-grow: 2;
}

.rowMain{
	width: auto;
	height: 40px;
	display: flex;
	flex-direction: row;
	&>div{
		display: flex;
	}
}

$radius: 30px;

.rowMainTitle{
	border: 1px solid blue;
	border-radius: $radius 0 0 $radius;
	background-color: blue;
	& p{
		color: white;
	}
}

.rowMainContent{
	border: 1px solid blue;
	border-radius: 0 $radius $radius 0;
	width: 100%;
	overflow: hidden;
}


.titleText{
	margin: auto;
	padding: 0px;
	width: 100px;
	text-align: center;

}

.contentText{
	margin: auto;
	padding: 0px;
	min-width: 200px;
	width: 98%;
	height: 100%; 
	border: 0;
}




.fioPhoto{
	border: 1px solid blue;
	width: 300px;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.photoFileFrame{
	@include br();
	border-radius: 180px;
	background-color: black;
	box-shadow: inset 0px 0px 20px black;
	overflow: hidden;
	width: 260px;
	height: 260px;
	margin: 10px;
}

.fileUpload{
	width: auto;
	height: auto;
	overflow: hidden;
	&>[type=file]{
		display: none;
	}
}

.imgFile{
	position: relative;
	right: 4px;
	bottom: 4px;
	width: 104%;
	height: 104%;
	
}














































