@import "http://webfonts.ru/import/ashley.css";
@import "http://webfonts.ru/import/bicubik.css";
@import "http://webfonts.ru/import/beermoney.css";
@font-face {
  font-family: Connoisseurs;
  src: url("../../fonts/Connoisseurs.otf");
  src: url("../../fonts/Connoisseurs.ttf"); }
@font-face {
  font-family: Divine Razier;
  src: url("../../fonts/Divine%20Razier.otf"); }
@font-face {
  font-family: Fairytales Script Swashes;
  src: url("../../fonts/Fairytales%20Script%20Swashes.otf");
  src: url("../../fonts/Fairytales%20Script%20Swashes.ttf"); }
@font-face {
  font-family: Fairytales Script;
  src: url("../../fonts/Fairytales%20Script.otf");
  src: url("../../fonts/Fairytales%20Script.ttf"); }
@font-face {
  font-family: Higher;
  src: url("../../fonts/Higher.otf");
  src: url("../../fonts/Higher.ttf"); }
/*
	Bicubik, 400
*/
.tabTop {
  margin: 10px;
  height: auto;
  font-family: Bicubik; }

.tabLinks {
  position: relative;
  top: 4px;
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row wrap; }
  .tabLinks li {
    width: 76px;
    height: 40px;
    margin-left: 6px;
    border: 4px solid black;
    background-color: #141C14;
    border-radius: 6px 6px 0px 0px;
    display: flex; }
    .tabLinks li:hover {
      background-color: #10E000; }
      .tabLinks li:hover a {
        color: #141C14; }
    .tabLinks li a {
      border: 1px solid black;
      text-decoration: none;
      color: #10E000;
      flex-grow: 1;
      text-align: center;
      line-height: 40px; }

.tabLinks a {
  transition: all 400ms ease-in-out; }

.tabContent {
  border: 1px solid black;
  background-color: black;
  padding: 2px;
  border-radius: 3px; }
  .tabContent .tab {
    border: 1px solid black;
    background-color: #141C14;
    color: #10E000; }

li.active {
  background-color: #10E000; }
  li.active a {
    color: #141C14; }

.tab {
  height: 300px;
  overflow: hidden;
  display: none; }
  .tab p:first-child {
    text-align: center; }

.blockTip {
  color: red;
  font-family: Bicubik;
  font-size: 12px;
  font-style: normal;
  font-weight: bold;
  text-align: right;
  margin-right: 12px; }

.tabStiker {
  padding: 1px;
  margin: 10px; }

.tabConteiner {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  overflow: hidden;
  position: relative; }

#tab_head.tabConteiner {
  height: 140px; }

.bookMark {
  width: 80px;
  height: 150px;
  position: absolute;
  cursor: pointer;
  top: 30px;
  transition: all 260ms ease-out;
  box-shadow: inset 0px 0px 30px #BDBDBD;
  background-image: url("../../image/texture_paper_2.jpg"); }

.bookMarkLogo {
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  font-family: Beer money;
  font-size: 34px;
  color: white;
  z-index: 0; }

#tab_head.tabConteiner div:nth-child(1) {
  left: 5px;
  transform: rotate(0deg);
  z-index: 1; }
  #tab_head.tabConteiner div:nth-child(1) div {
    background-color: #A86EA7;
    box-shadow: inset 0px 0px 30px #582C69; }
  #tab_head.tabConteiner div:nth-child(1):hover {
    transform: rotate(0deg);
    z-index: 2;
    top: 6px; }
#tab_head.tabConteiner div:nth-child(2) {
  left: 60px;
  transform: rotate(-6deg); }
  #tab_head.tabConteiner div:nth-child(2) div {
    background-color: #A8736E;
    box-shadow: inset 0px 0px 30px #803E3E; }
  #tab_head.tabConteiner div:nth-child(2):hover {
    transform: rotate(0deg);
    z-index: 2;
    top: 6px; }
#tab_head.tabConteiner div:nth-child(3) {
  left: 120px;
  transform: rotate(2deg);
  z-index: 1; }
  #tab_head.tabConteiner div:nth-child(3) div {
    background-color: #7B82C4;
    box-shadow: inset 0px 0px 30px #25284A; }
  #tab_head.tabConteiner div:nth-child(3):hover {
    transform: rotate(0deg);
    z-index: 2;
    top: 6px; }
#tab_head.tabConteiner div:nth-child(4) {
  left: 180px;
  transform: rotate(-12deg); }
  #tab_head.tabConteiner div:nth-child(4) div {
    background-color: #7BC4A9;
    box-shadow: inset 0px 0px 30px #016B29; }
  #tab_head.tabConteiner div:nth-child(4):hover {
    transform: rotate(0deg);
    z-index: 2;
    top: 6px; }
#tab_head.tabConteiner div:nth-child(5) {
  left: 240px;
  transform: rotate(9deg); }
  #tab_head.tabConteiner div:nth-child(5) div {
    background-color: #F6FF00;
    box-shadow: inset 0px 0px 30px #6B6701; }
  #tab_head.tabConteiner div:nth-child(5):hover {
    transform: rotate(0deg);
    z-index: 2;
    top: 6px; }
#tab_head.tabConteiner div:nth-child(6) {
  left: 300px;
  transform: rotate(2deg); }
  #tab_head.tabConteiner div:nth-child(6) div {
    background-color: #00FF0C;
    box-shadow: inset 0px 0px 30px #016B01; }
  #tab_head.tabConteiner div:nth-child(6):hover {
    transform: rotate(0deg);
    z-index: 2;
    top: 6px; }
#tab_head.tabConteiner div:nth-child(7) {
  left: 380px;
  transform: rotate(-7deg);
  z-index: 1; }
  #tab_head.tabConteiner div:nth-child(7) div {
    background-color: #00FFF6;
    box-shadow: inset 0px 0px 30px #016B6A; }
  #tab_head.tabConteiner div:nth-child(7):hover {
    transform: rotate(0deg);
    z-index: 2;
    top: 6px; }
#tab_head.tabConteiner div:nth-child(8) {
  left: 440px;
  transform: rotate(1deg); }
  #tab_head.tabConteiner div:nth-child(8) div {
    background-color: #4800FF;
    box-shadow: inset 0px 0px 30px #08016B; }
  #tab_head.tabConteiner div:nth-child(8):hover {
    transform: rotate(0deg);
    z-index: 2;
    top: 6px; }
#tab_head.tabConteiner div:nth-child(9) {
  left: 520px;
  transform: rotate(-8deg);
  z-index: 1; }
  #tab_head.tabConteiner div:nth-child(9) div {
    background-color: #FF00E4;
    box-shadow: inset 0px 0px 30px #6B0162; }
  #tab_head.tabConteiner div:nth-child(9):hover {
    transform: rotate(0deg);
    z-index: 2;
    top: 6px; }
#tab_head.tabConteiner div:nth-child(10) {
  left: 590px;
  transform: rotate(4deg); }
  #tab_head.tabConteiner div:nth-child(10) div {
    background-color: #FF0000;
    box-shadow: inset 0px 0px 30px #6B0101; }
  #tab_head.tabConteiner div:nth-child(10):hover {
    transform: rotate(0deg);
    z-index: 2;
    top: 6px; }

#tab_body.tabConteiner {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  position: relative;
  width: auto;
  height: 300px;
  background-image: url("../../image/texture_not_bg_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px; }

.page {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: none;
  height: 0px; }

.textPage {
  height: 100%;
  width: 100%;
  resize: none;
  background-image: url("../../image/texture_paper_1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: AshleyCapitaliSofia; }

/*# sourceMappingURL=tab.css.map */
